table {
    width: 100%;
    padding-bottom: 40px;
}

.pointer {
    cursor: pointer;
}

.card-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.large-button {
    padding: 0 100px;
}

.spacer {
    flex: 1;
}

.paginator-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}